.main {
  display: grid;
  grid-template-areas:
  "navbar"
  "page"
  "footer";
  grid-template-rows: max-content 1fr max-content;
  margin: auto;
  height: 100vh;
  max-width: 1600px;
  border: 1px solid aqua;
}

.nav {
  grid-area: navbar;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content 1fr max-content;
  padding: 8px 16px;
  column-gap: 16px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.page {
  grid-area: page;
}

.footer {
  grid-area: footer;
}
