.logo {
  width: 64px;
  height: 64px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-auto-columns: 1fr;
  column-gap: 16px;
  justify-items: center;
}

.link {
  color: lawngreen;
}

.link-active {
  color: aqua;
}

.link-icon {
  width: 16px;
  height: 16px;
}

.link-icon-active {
  width: 16px;
  height: 16px;
}